HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Terraform ###

# Diretório de estado do Terraform
*.tfstate
*.tfstate.*

# Logs de crash do Terraform
crash.log

# Planos de execução do Terraform
*.tfplan

# Backups do Terraform
*.backup

# Arquivos de configuração de variáveis sensíveis
*.tfvars
*.tfvars.json

# Diretório de bloqueio de provedor do Terraform
.terraform/

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Diretório de configuração de plugins do Terraform
.terraformrc
terraform.rc
